# See https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties for detailed information.

root = true

[*]
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js, css, html}]
indent_style = space
indent_size = 2
max_line_length = 120
