# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# assets
src/public/annotation/*
!src/public/annotation/example.json
src/public/config/*
!src/public/config/example.json
src/public/video/*
!src/public/video/example.mp4

src/public/dataset
