body
  overflow-y scroll

a
  color inherit
  text-decoration none

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance none

input[type="number"]
  -moz-apearance textfield
