* {

}

html, body {
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../font/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.q-skeleton {
  cursor: auto;
}

.grayscale {
  filter: grayscale(100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.custom-range .q-slider__track-container--h {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.26) 0%,
    rgba(0, 0, 0, 0.26) 100%
  ),
  linear-gradient(
    to right,
    rgba(0, 0, 0, 0.26) 0%,
    rgba(0, 0, 0, 0.26) 100%
  ),
  linear-gradient(
    to right,
    rgba(0, 0, 0, 0.26) 0%,
    rgba(0, 0, 0, 0.26) 100%
  ),
  linear-gradient(
    to right,
    rgba(0, 0, 0, 0.26) 0%,
    rgba(0, 0, 0, 0.26) 100%
  ),
  linear-gradient(
    to right,
    rgba(0, 0, 0, 0.26) 0%,
    rgba(0, 0, 0, 0.26) 100%
  ), var(--tick-bg);
  background-repeat: no-repeat;
  background-position: 0 9px, 0 20px, 0 27px, 0 34px, 0 41px, var(--tick-bg-pos);
  background-size: 100% 2px, 100% 2px, 100% 2px, 100% 2px, 100% 2px, var(--tick-bg-size);
  background-blend-mode: soft-light;
  margin-top: -10px;
  height: 54px;
  overflow: visible !important;
}

.custom-range .q-slider__track--h {
  height: 2px;
  top: 9px;
  bottom: 9px;
  border: 1px solid currentColor;
  border-radius: 10px;
  background: transparent;
  transition: width 0.28s, left 0.28s, right 0.28s, top 0.28s, bottom 0.28s,
  border-width 0.28s;
}

.custom-range.q-slider--active .q-slider__track--h {
  height: 10px;
  top: 5px;
  bottom: 5px;
  border-width: 3px;
  transition: border-width 0.28s;
}

table tbody tr.highlighted {
  background-color: rgba(0, 0, 0, 0.03)
}
